# .gitignore File

# DS_Store files
*.DS_Store


# Python files
__pycache__/
*.py[cod]


# Python virtualenv
.venv
venv/
ENV/


# Terraform directory
.terraform/


# Terraform files
*.tfvars
*.tfstate
*.tfstate.*


# VSCode files
.vscode/


# ZIP files
*.zip
